*,*:aftere, *:before{
box-sizing: border-box;
}
@font-face {
font-family: 'ProximaNova-Black';
    src: 
    local('ProximaNova-Black') 
    url("https://nomail.com.ua/files/eot/aa46d234cf405126cdd1c36600e4b978.eot?#iefix") format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff") format("woff"),
    url("https://nomail.com.ua/files/woff2/aa46d234cf405126cdd1c36600e4b978.woff2") format("woff2");
}

body{
    font-family: 'Roboto', sans-serif;
	background:#000 url("../img/main-bg.jpg")no-repeat right -180% top;
	background-size: contain;
	background-attachment: fixed;
 	font-weight: 300;
 	color: #ffffff;	
}
.container{
	width: 95%;
	max-width: 1060px;
	margin: auto;
}
.header-logo{
	margin-right:71px; 
}
.header{
	display: flex;
	align-items: center;
	padding-top: 90px;
}
.navigation-link{
	position:relative;
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
	line-height: 150%;
	margin-right: 15px;
}
.navigation-link:after{
content: "";
position: absolute;
bottom: 0;
left:  0;
width: 100%;
height: 2px;
background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
transform: scaleX(0);
transition: transform 0.3s;
}
.navigation-link:hover:after{
	transform:scaleX(1);
}
.hero-subtitle{
	display: block;
	margin-top: 78px;
	font-size: 40px;
	line-height:  100%;
	font-family: 'ProximaNova-Black', sans-serif;
}
.hero-title{
    margin-top: 5px;
	font-size: 64px;
	line-height:  78%;
	font-family: 'ProximaNova-Black', sans-serif;
	margin-bottom: 25px;
}
.hero-description{
    max-width: 572px;
    font-size: 18px;
    line-height: 150%;
    color: #afafaf;
}
.hero-premier{
	display: block;
	font-size: 18px;
	line-height: 150%;
	color: #FC3309;
	margin-bottom: 5px;
}
.hero-date{
    display: block;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 46px;
}
.button-play{
	position: relative;	
	border: none;
	background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 300px;
    color: #ffffff;
	padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 87px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.button-play:after{
	content: "";
	position: absolute;
    width: 65px;
    height: 65px;
    right: 0;
    top: 0px;
    background:  #fff url("../img/play.svg") center no-repeat;
    border-radius: 50%
}
.button-play:before{
	content: ""; 	
	width: 80px;
	height:80px;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	right: -8px;
	top: -8px;
	border-radius: 50%;
}
.episodes{
	padding: 60px 0;
}
.episodes-title{
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 24px;
}
.slider{
	display: flex;	
    flex-wrap: wrap;	
}
.slider-item{
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	width: 195px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.2s;
    	
}
.slider-item:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
    background:rgba(80, 80, 80, 0.86);
    transition: all 0.2s;
}
.slider-image{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}
.slider-item:hover:before{
	background: rgba(64, 101, 255, 0.86);
}
.slider-rating-label{
	margin-right: 12px;
}
.star{
	display: inline-block;
	width: 	12px;
	height: 12px;
	background: url("../img/star.svg") no-repeat center;
}
.star-o{
	background: url("../img/star-o.svg")no-repeat center;
}
.slider-nav-left{
	border: none;
	background: transparent url("../img/arrow-Left.svg")no-repeat center;
	width: 32px;
	height: 32px;
	margin-right: 15px;
}
.slider-nav-right{
	border: none;
	background: transparent url("../img/arrow-right.svg")no-repeat center;
	width: 32px;
	height: 32px;
}
.slider-nav-left span,
.slider-nav-right span{
	display: none;
}	

@media(max-width: 600px){
	.her-subtitle{
		font-size: 24px;
	}
	.hero-title{
		font-size: 36px;
	   line-height:120%;  
	}
	.hero-description{
		font-size: 16px;
	}
	.header{
		flex-direction: column;
		align-items: flex-start;
	}
	.header-logo{
		margin-bottom: 30px;
	}
	.nav{
		display: flex;
		flex-direction: column;
	}
	.nav-link{
		margin-bottom: 10px;
	}
	.slider-item{
		width: 250px;	
	}
}

